body {
    width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 15px;
}

img {
    width: 400px;
    height: 200px;
    background-size: cover;
}
#slogan {
    color: dimgray;
}
#mission {
    margin-bottom: 28px;
    border-top: solid 1px black;
}
nav {
    border-bottom: solid 1px black;
}